{% extends 'layout.html' %}
{% block content %}
<h2>{{ products.product_title }}</h2>
<hr>
    <p>Номер продукта: {{ products.id }}</p>
    <p>Категория: {{ products.product_category }}</p>
    <p>Название: {{ products.product_title }}</p>
    <p>Описание: {{ products.product_description }}</p>
    <p>Цена: {{ products.product_price }}</p>
<hr>
    {% for review in reviews %}
        <p>{{ review.review_author }} : {{ review.review_text }}</p>

    {% endfor %}
    <a href="/product/"> <button>"Назад"</button> </a>
{% endblock %}